<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>My Store</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onMenu($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-virtual-scroll [items]="list">
    <ion-item *virtualItem="let o;">
      <ion-buttons slot="start">
        <ion-button (click)="onAddToCart(o)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>
        <h2>{{ o.name }}</h2>
        <h3>{{ o.description }}</h3>
      </ion-label>
      <ion-note slot="end">
        <h6>{{ o.price | currency:'RM ' }}</h6>
      </ion-note>
    </ion-item>
  </ion-virtual-scroll>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
